.numero{
    background-color:lightblue;
    border: 1px solid ;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

body{
    background-color:white;
}

.fila{ 
    
    width:100%;
    height: auto;
    display: flex;
    justify-content: center;

}
#mensaje {
    margin-top: 10px;
    margin-right: auto;  /* Añade esta línea */
    margin-left: auto;   /* Añade esta línea */
    background-color:black;
    color: white;
    font-size: 20px;
    font-family: 'Cascadia Code', monospace;
    width: max-content;
    border-radius: 10px;
    text-align: center;
    
}

#matriz{
    margin-top: 20px;
    
}

.btones{
    gap: 10px;
    display: flex;
    justify-content: center; 
}

button {
    background: linear-gradient(30deg, #000 35%, #ea8b19 73%);
    padding: 12px 20px;
    font-size: 20px;
    font-weight: 500;
    color: white;
    border: 3px solid #ea8b19;
    border-radius: 8px;
    transition: all .3s ease-in-out;
  }
  
  .star-1 {
    position: absolute;
    fill: #ea8b19;
    top: 20%;
    left: 20%;
    width: 25px;
    height: auto;
    filter: drop-shadow(0 0 0 #ea8b19);
    z-index: -5;
    transition: all 1s cubic-bezier(0.05, 0.83, 0.43, 0.96);
  }
  
  .star-2 {
    position: absolute;
    fill: #ea8b19;
    top: 45%;
    left: 45%;
    width: 15px;
    height: auto;
    filter: drop-shadow(0 0 0 #ea8b19);
    z-index: -5;
    transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
  }
  
  .star-3 {
    position: absolute;
    fill: #ea8b19;
    top: 40%;
    left: 40%;
    width: 5px;
    height: auto;
    filter: drop-shadow(0 0 0 #ea8b19);
    z-index: -5;
    transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
  }
  
  .star-4 {
    position: absolute;
    fill: #ea8b19;
    top: 20%;
    left: 40%;
    width: 8px;
    height: auto;
    filter: drop-shadow(0 0 0 #ea8b19);
    z-index: -5;
    transition: all .8s cubic-bezier(0, 0.4, 0, 1.01);
  }
  
  .star-5 {
    position: absolute;
    fill: #ea8b19;
    top: 25%;
    left: 45%;
    width: 15px;
    height: auto;
    filter: drop-shadow(0 0 0 #ea8b19);
    z-index: -5;
    transition: all .6s cubic-bezier(0, 0.4, 0, 1.01);
  }
  
  .star-6 {
    position: absolute;
    fill: #ea8b19;
    top: 5%;
    left: 50%;
    width: 5px;
    height: auto;
    filter: drop-shadow(0 0 0 #ea8b19);
    z-index: -5;
    transition: all .8s ease;
  }
  
  button:hover {
    background: #000;
    color: #ea8b19;
    box-shadow: 0 0 50px #ea8b19;
  }
  
  button:hover .star-1 {
    position: absolute;
    top: -110%;
    left: -60%;
    width: 30px;
    height: auto;
    filter: drop-shadow(0 0 10px #ea8b19);
    z-index: 2;
  }
  
  button:hover .star-2 {
    position: absolute;
    top: -45%;
    left: 0%;
    width: 20px;
    height: auto;
    filter: drop-shadow(0 0 10px #ea8b19);
    z-index: 2;
  }
  
  button:hover .star-3 {
    position: absolute;
    top: 55%;
    left: 15%;
    width: 11px;
    height: auto;
    filter: drop-shadow(0 0 10px #ea8b19);
    z-index: 2;
  }
  
  button:hover .star-4 {
    position: absolute;
    top: 45%;
    left: 85%;
    width: 15px;
    height: auto;
    filter: drop-shadow(0 0 10px #ea8b19);
    z-index: 2;
  }
  
  button:hover .star-5 {
    position: absolute;
    top: 25%;
    left: 140%;
    width: 25px;
    height: auto;
    filter: drop-shadow(0 0 10px #ea8b19);
    z-index: 2;
  }
  
  button:hover .star-6 {
    position: absolute;
    top: -5%;
    left: 60%;
    width: 15px;
    height: auto;
    filter: drop-shadow(0 0 10px #ea8b19);
    z-index: 2;
  }
  
  .fil0 {
    fill: #ea8b19;
  }
  
  .box {
    width: 120px;
    height: 45px;
    float: left;
    transition: .5s linear;
    position: relative;
    display: block;
    padding: 8px;
    margin: -10px -15.5px;
    background: transparent;
    text-transform: uppercase;
    font-weight: 900;
  }
  
  .box:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    color: white;
    background: black;
  }
  
  .box:hover:before {
    border-color: #fff;
    height: 100%;
    transform: translateX(0);
    transition: .3s transform linear, .3s height linear .3s;
  }
  
  .box:hover:after {
    border-color: #ea8b19;
    height: 100%;
    transform: translateX(0);
    transition: .3s transform linear, .3s height linear .5s;
  }
  
  .box:before {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    height: 4px;
    width: 100%;
    border-bottom: 4px solid transparent;
    border-left: 4px solid transparent;
    box-sizing: border-box;
    transform: translateX(100%);
  }
  
  .box:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 4px;
    border-top: 4px solid transparent;
    border-right: 4px solid transparent;
    box-sizing: border-box;
    transform: translateX(-100%);
  }
  

@media only screen and ((min-width: 600px) and (max-width:900px)) {
  

}

.ordenTotal {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: palevioletred;
  color: white;
  padding: 3%;
  font-weight: bold;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  animation: pulse 1s infinite;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

@keyframes pulse {
  0% {
      transform: scale(1);
  }
  50% {
      transform: scale(1.05);
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  }
  100% {
      transform: scale(1);
  }
}

.ordenTotal:hover {
  transform: scale(1.1);
}


.ordenTotal {
  touch-action: manipulation;
  display: flex;
  align-items: center;
  outline: none;
  font-family: inherit;
  font-size: 1em;
  box-sizing: border-box;
  border: none;
  border-radius: 0.3em;
  height: 2.75em;
  line-height: 2.5em;
  text-transform: uppercase;
  padding: 0 1em;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(110, 80, 20, 0.4),
    inset 0 -2px 5px 1px rgba(139, 66, 8, 1),
    inset 0 -1px 1px 3px rgba(250, 227, 133, 1);
  background-image: linear-gradient(
    160deg,
    #a54e07,
    #b47e11,
    #fef1a2,
    #bc881b,
    #a54e07
  );
  border: 1px solid #a55d07;
  color: rgb(120, 50, 5);
  text-shadow: 0 2px 2px rgba(250, 227, 133, 1);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  background-size: 100% 100%;
  background-position: center;
}

.ordenTotal:focus,
.ordenTotal:hover {
  background-size: 150% 150%;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23),
    inset 0 -2px 5px 1px #b17d10, inset 0 -1px 1px 3px rgba(250, 227, 133, 1);
  border: 1px solid rgba(165, 93, 7, 0.6);
  color: rgba(120, 50, 5, 0.8);
}

.ordenTotal:active {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(110, 80, 20, 0.4),
    inset 0 -2px 5px 1px #b17d10, inset 0 -1px 1px 3px rgba(250, 227, 133, 1);
}

.node {
  stroke: #fff;
  stroke-width: 1.5px;
}

.link {
  stroke: #999;
  stroke-opacity: 0.6;
}

#grafito {
  display: flex;
  flex-wrap: wrap; /* Permite que los elementos se envuelvan en la siguiente línea */
  justify-content: center; /* Centra los elementos horizontalmente */
  gap: 10px; /* Espacio entre los elementos */
  margin-top: 10px;
  width: 100%; /* Ajuste del ancho del contenedor */
}


.relacion{
  background-color: orange;
  border-radius: 50px;
  width: max-content;
  padding: 1%;
  display: flex;
  justify-content: center;
}

.contenedor{
  display: flex;
  justify-content: center;
  align-items: center;
}
  


.node {
  fill: #66ccff;
  stroke: #333;
  stroke-width: 2px;
}
.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 2px;
}

.container-grafo {
  border: 3px solid black;
  margin: 3%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh; /* Esto asegura que el contenedor ocupe toda la altura de la pantalla */
}

.loader {
  position: absolute;
}

@media only screen and (max-width: 600px) {
  .loader{
    margin-left: 10%;
  }
  .container-grafo{
    margin-left: -20%;
  }
  footer{
    flex-direction: column;
  }
  .card {
    margin-top: 20px;
  }

}

footer{
  background-color: rgb(31, 31, 31);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 1%;
  
}

.card {
  --main-color: #fff;
  --submain-color: #ccc;
  --bg-color: #000;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  position: relative;
  width: 300px;
  height: 384px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  background: var(--bg-color);
}

.card__img {
  height: 192px;
  width: 100%;
}

.card__img svg {
  height: 100%;
  border-radius: 20px 20px 0 0;
}

.card__avatar {
  position: absolute;
  width: 114px;
  height: 114px;
  background: var(--bg-color);
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: calc(50% - 57px);
}

.card__avatar img {
  border-radius: 200px;
  width: 100px;
  height: 100px;
}

.card__title {
display: flex;
  margin-top: 90px;
  font-weight: 500;
  font-size: 18px;
  color: var(--main-color);
}

.card__subtitle {
  margin-top: 10px;
  font-weight: 400;
  font-size: 15px;
  color: var(--submain-color);
}

.card__btn {
  margin-top: 15px;
  width: 76px;
  height: 31px;
  border: 2px solid var(--main-color);
  border-radius: 4px;
  font-weight: 700;
  font-size: 11px;
  color: var(--main-color);
  background: var(--bg-color);
  text-transform: uppercase;
  transition: all 0.3s;
}

.card__btn-solid {
  background: var(--main-color);
  color: var(--bg-color);
}

.card__btn:hover {
  background: var(--main-color);
  color: var(--bg-color);
}

.card__btn-solid:hover {
  background: var(--bg-color);
  color: var(--main-color);
}

@media only screen and (min-width: 600px) and (max-width: 1400px) {

  .card {
    margin-top: 20px;
    width: 30%;
    
  }
}

.evaluaciones{
  text-align: center;
  
}

.shape {
  --BG-COLOR: #59d5e0;
  --OUTLINE-COLOR: #068b97;
  --OUTLINE-SIZE: 15px;
  width: 7rem;
  aspect-ratio: 1;
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  outline: var(--OUTLINE-SIZE) solid var(--OUTLINE-COLOR);
  background: var(--BG-COLOR);
  box-shadow: 0px 0px calc(var(--OUTLINE-SIZE) + 25px) rgba(0, 0, 0, 0.438);
  animation: morph 2.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) infinite;
}
.numRowContainer {
  height: fit-content;
  animation: infiniteScroll 2.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) infinite;
}
@keyframes infiniteScroll {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(0, -50%);
  }
}
@keyframes morph {
  50% {
    --BG-COLOR: PINK;
    --OUTLINE-COLOR: #ff407d;
    transform: rotate(150deg);
    border-radius: 20%;
  }
  100% {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 600px) {
  .box{
      width: 10%;
      font-size:80% ;
      
  }
  .btones{
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 10px;
      
  }
  .container-grafo{
    margin: 5%;
  }

  .loader{
   margin-left: -2%;
  }


  
}



